#!/bin/sh
SUBSYSTEM=="switch",ACTION=="change",ATTR{state}=="1",DEVPATH=="/devices/virtual/switch/h2w",RUN+="/etc/udev/scripts/headset.sh 'HEADSETMIC_ADDED' %b"
SUBSYSTEM=="switch",ACTION=="change",ATTR{state}=="0",DEVPATH=="/devices/virtual/switch/h2w",RUN+="/etc/udev/scripts/headset.sh 'HEADSET_REMOVED' %b"
SUBSYSTEM=="switch",ACTION=="change",ATTR{state}=="2",DEVPATH=="/devices/virtual/switch/h2w",RUN+="/etc/udev/scripts/headset.sh 'HEADSET_ADDED' %b"
SUBSYSTEM=="sound",ACTION=="add",DEVPATH=="/devices/platform/soc/3f980000.usb/usb[0-9]/*/sound/card[0-9]/pcmC[0-9]D0c",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_MIC_ADDED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="remove",DEVPATH=="/devices/platform/soc/3f980000.usb/usb[0-9]/*/sound/card[0-9]/pcmC[0-9]D0c",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_MIC_REMOVED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="add",DEVPATH=="/devices/platform/soc/3f980000.usb/usb[0-9]/*/sound/card[0-9]/pcmC[0-9]D0p",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_HEADSET_ADDED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="remove",DEVPATH=="/devices/platform/soc/3f980000.usb/usb[0-9]/*/sound/card[0-9]/pcmC[0-9]D0p",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_HEADSET_REMOVED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="add",DEVPATH=="/devices/virtual/sound/card[0-9]/pcmC[0-9]D0p",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_HEADSET_ADDED' %b $devpath %p"
#Rules for detecting the status of mic in virtual box
SUBSYSTEM=="sound",ACTION=="add",DEVPATH=="/devices/pci0000:00/*/usb[0-9]/*/sound/card[0-9]/pcmC[0-9]D[0-9]c",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_MIC_ADDED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="remove",DEVPATH=="/devices/pci0000:00/*/usb[0-9]/*/sound/card[0-9]/pcmC[0-9]D[0-9]c",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_MIC_REMOVED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="add",DEVPATH=="/devices/pci0000:00/*/usb[0-9]/*/sound/card[0-9]/pcmC[0-9]D0p",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_HEADSET_ADDED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="remove",DEVPATH=="/devices/pci0000:00/*/usb[0-9]/*/sound/card[0-9]/pcmC[0-9]D0p",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_HEADSET_REMOVED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="add",DEVPATH=="/devices/pci0000:00/*/sound/card[0-9]/pcmC[0-9]D0p",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_HEADSET_ADDED' %b $devpath %p"
SUBSYSTEM=="sound",ACTION=="add",DEVPATH=="/devices/pci0000:00/*/sound/card[0-9]/pcmC[0-9]D0c",RUN+="/etc/udev/scripts/usbsoundcard.sh 'USB_MIC_ADDED' %b $devpath %p"

